<main>
    <% songs.comments.forEach(c => { %>
            <form action="/songs/<%= c._id %>/comments?_method=PUT" method="POST">
                <p><strong><%= c.title%></strong></p>
                <%=c.user%>
                <textarea name="title" required><%= c.title%></textarea>
                <button type="submit">edit</button>
            </form>
    <%}); %> 
</main>

<%- include('../partials/footer') %>
