<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
    <body>
        <%- include('../partials/header') %>

        <section>
            <table>
                <thead>
                    <tr>
                        <th>Song</th>
                        <th>Artist</th>
                        <th>Genre</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><%= song.song %></td>
                        <td><%= song.artist %></td>
                        <td><%= song.genre %></td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section>
            <h3>Reviews</h3>
            <form action="/songs/<%= song._id %>/comments" method="POST">
                <label>
                    Comments:
                    <textarea name="title" cols="30" rows="10" required></textarea>
                </label> 
                <input type="submit" value="Add Comment">
            </form>
            <% song.comments.forEach(s => { %>
                <tr>
                    <td><%= s.title %></td> 
                </tr>
            <% }) %>
        </section>  
        <%- include('../partials/footer') %>  
</body>
</html>