<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
    <body>
        <%- include('../partials/header') %>

        <section>
            <table>
                <thead>
                    <tr>
                        <th>Song</th>
                        <th>Artist</th>
                        <th>Genre</th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td><%= song.song %></td>
                        <td><%= song.artist %></td>
                        <td><%= song.genre %></td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section>
            <h3>Comments</h3>
            <% if (user) { %>
            <form action="/songs/<%= song._id %>/comments" method="POST">
                <label>
                    Comments:
                    <textarea name="title" cols="30" rows="10" required></textarea>
                </label> 
                <input type="submit" value="Add Comment">
            </form>
            <% } %>
            <% song.comments.forEach(s => { %>
                <td class="comment-user"><img alt="avatar" src="<%= s.userAvatar %>" referrerpolicy="no-referrer"><%= s.userName %></td>
                <tr>
                    <td><%= s.title %></td> 
                    <td>
                        <% if (user?._id.equals(s.user)) { %>
                            <form action="/songs/<%= s._id %>/comments?_method=DELETE" method="POST">
                                <button type="submit">X</button>
                            </form>
                            <form id="editComment" action="/songs/<%= s._id %>/comments?_method=PUT" method="POST">
                                <textarea name="title" required><%= s.title %></textarea>
                                    <button type="submit">edit</button>
                                <% } %>
                    </td>
                </tr>
            <% }) %>
        </section>  
        <%- include('../partials/footer') %>  
</body>
</html>